@font-face {
    font-family:"Lora-Regular";
    src: url("Lora-Regular.ttf")
}

nav {
  background-color: white;
  position: fixed;
  z-index: 10;
}

body {
  height: 2000px;
}

img {
  width: 40%;
  margin: 0 4%;
}

i,a.brand-logo, nav ul li a {
  color: black;
}

a.brand-logo {
  font-family: 'Alfa Slab One', cursive;
}

div.title {
  position: absolute;
  bottom: 8%;
  width: 100%;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.evan {
  font-size: 9em;
  font-family: 'Alfa Slab One', cursive;
}

h4.webdev {
  font-family: Lora-Regular, serif;
  font-size: 4em;
  margin-top: -50px;
  text-align: center;
}

header {
  position: relative;
  height: 100vh;
}

  background-size: auto 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../images/GA_Headshot.jpg")